<div id="super-container-store">

  <div id = "info-block">
    <!-- Thumbnail image -->
    <div class="pull-right">
      <img src="/assets/placeholder_icon.png" class="img-thumbnail"> 
    </div>

    <h1><%= @store.name %></h1>

    <div id = "specialty">
      <%= @store.specialty %>
    </div>
    <div id = "rating">
      <label>Rating: </label> <%= @store.avg_rating %> (<%= @store.number_reviews %> ratings)
    </div>
    <br />


    <div id = "address">
      <div id = "street">
        <%= @store.street %>
      </div>
      <div id = "city-state-zip">
        <%= @store.city %>, <%= @store.state %> <%= @store.zip %>
      </div>
    </div>
    <div id="contact-info">
      <div id = "phone">
        <%= @store.phone_number %>
      </div>
      <div id = "email">
        <%= @store.email %>
      </div>
      <div id = "website">
        <%= @store.website %>
      </div>
    </div>
    <div id="block-button">
      <%= button_to "Write Review", reviews_new_url(user_id: session[:user_id]), method: :get %>
    </div>
  </div>

</div>