<div id="super-container-store">

  <div class="pull-right">
    <img src="/assets/placeholder_icon.png" class="img-thumbnail"> 
  </div>

  <h1><%= @store.name %></h1>
  <label>Speciality: </label><span id="speciality"><%= @store.specialty %></span>
  <label>Rating: </label> <%= @store.avg_rating %><%= @store.number_reviews %>

  <div id = "address">
    <%= @store.street %>
    <%= @store.city %>
    <%= @store.state %>
    <%= @store.zip %>
  </div>

  <div id="contact-info">
    <%= @store.phone_number %>
    <%= @store.email %>
    <%= @store.website %>
  </div>

</div>