<h1>Store#show</h1>

<%= @store.name %>
<%= @store.specialty %>
<%= @store.avg_rating %>
<%= @store.number_reviews %>
<%= @store.street %>
<%= @store.city %>
<%= @store.state %>
<%= @store.zip %>
<%= @store.phone_number %>
<%= @store.email %>
<%= @store.website %>
