<%= form_for @user do |u| %>

<p>
	<%= u.label :username, "Username" %>
	<%= u.text_field :username %>
</p>

<p>
	<%= u.label :password, "Password" %>
	<%= u.text_field :password %>
</p>

<p>
	<%= u.label :password_confirmation, "Confirm Password" %>
	<%= u.text_field :password_confirmation %>
</p>

<p>
	<%= u.submit %>
</p>

<% end %>
