<%= form_for @user do |u| %>

<p>
	<%= u.label :name, "Name" %>
	<%= u.text_field :name %>
</p>

<p>
	<%= u.label :username, "username" %>
	<%= u.text_field :username %>
</p>

<p>
	<%= u.label :password, "password" %>
	<%= u.text_field :password %>
</p>

<p>
	<%= u.label :number_reviews, "Number of reviews" %>
	<%= u.text_field :number_reviews %>
</p>

<p>
	<%= u.submit %>
</p>

<% end %>
