<h1>Review already exists!  Update?</h1>

<%= form_for [@store, @review], {url:"/reviews", method:"update"} do |r| %>

<p>
	<%= r.label :rating, "Rating" %>
	<%= r.text_field :rating, placeholder: 'Rating' %>
</p>

<p>
	<%= r.label :body, "Body" %>
	<%= r.text_field :body, placeholder: 'Review' %>
</p>

<p>
	<%= r.submit %>
</p>

<% end %>

User id: <%= session[:user_id] %>