<h1>Review already exists!  Update?</h1>

<%= form_for [@store, @review] do |r| %>

<p>
	<%= r.label :rating, "Rating" %>
	<%= r.text_field :rating,placeholder: 'placeholder' %>
</p>

<p>
	<%= r.label :body, "Body" %>
	<%= r.text_field :body %>
</p>

<p>
	<%= r.submit %>
</p>

<% end %>

User id: <%= session[:user_id] %>