<h1>Review already exists!  Update?</h1>

<%= form_for [@store,@review] do |r| %>

<p>
	<%= r.text_field :rating, placeholder: 'Rating' %>
</p>

<p>
	<%= r.text_field :body, placeholder: 'Review' %>
</p>

<p>
	<%= button_to "Update Review", "/reviews/:id", method: :patch %>
</p>

<p>
	<%= button_to "Destroy Review", store_review_path(@store, @review), method: :delete %>
</p>

<% end %>

review id: <%= @review._id %>